<div class="container justify-center col-md-12 ">
    <h2 class="card-title text-center text-decoration-underline mt-5">PERFIL</h2>
 <div class="card  mb-3 border-0" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.18169-9/17626437_10210689808153289_1301219453989943862_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeHgJFBZM67QBMF6cvNx1ZxkiQcWpZ3FGWSJBxalncUZZAzsBXjUC2KH1x-ThA36gJU&_nc_ohc=f6cv5SqFBdUAX-yg5A3&_nc_ht=scontent-bog1-1.xx&oh=837334551bd85a66cf1663e8c0750325&oe=60D74022" 
        class="img-fluid rounded-3 mt-5 " 
        alt="...">
      </div>
      <div class="col-md-8">
        
        <div class="card-body">
          
          <p class="card-text-justify fst-italic mt-5 p-5 h-950 px" >Técnico laboral en operación de sistemas informáticos y computación.  Con conocimientos en desarrollo web, frontend y backend, manejo de windows, paquetes office. Con habilidades comunicativas, capacidad para trabajar en equipo, actitud de servicio, colaborativo y orientado al cumplimiento de los objetivos planteados por la organización. Con interés en adquirir mayor conocimiento y ampliar mi experiencia laboral encaminada a mi perfil profesional. </p>
        </div>
      </div>
    </div>
  </div>
</div>
