
<div class="card text-light ">      
    <div class="card-body bg-dark">    
            <p class="text-center">&copy; 2021, Todos los derechos reservados - Pedro Arenas </p>
      <div class="card-footer text-muted text-center">Desarrollado por Pedro Andres Arenas | Curso Desarrollo Web Bictia-CET
    
<div class="container">
		<!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
	</div>

	<div class="social">
		<a href="#"><img src="img/facebook.png" alt="facebook"></a>
		<a href="#"><img src="img/youtube.png" alt="youtube"></a>
		<a href="#"><img src="img/linkedin.png" alt="linkedin"></a>
		<a href="#"><img src="img/instagram.png" alt="instagram"></a>
	</div>