<div>
    <h2 class="card-title text-center text-decoration-underline mt-5">EXPERIENCIAS LABORALES</h2>
</div>
<div class="accordion mt-5" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header " id="panelsStayOpen-headingOne">
        <button class="accordion-button text-success  border border-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
         <h5>DACCATECH S.A.S</h5> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body fst-italic">
          <strong >Funciones:</strong> Realizar soporte técnico en remoto a personal de la aseguradora AXACOLPATRIA, manejo de inventario en laboratorio de sistemas, mantenimiento y reparación de componentes de equipos de cómputo, instalación de aplicativos y montaje de software implementado por la aseguradora. Instalación y configuración de impresoras.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button text-success collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         <h5>GRUPO MIS S.A.S</h5> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body fst-italic">
          <strong>Funciones:</strong> Operar sistemas de cómputo y programas de procesamiento de información. Atender solicitudes de usuarios del sistema, mantener y actualizar los programas, hacer copias de seguridad y respaldo de la información. Diagnosticar y solucionar fallas en hardware, en equipos de cómputo y periféricos. Realizar mantenimiento correctivo y administrar infraestructura tecnológica de red.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button text-success collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          <h5>IDAE SOLUCIONES S.A.S</h5>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body fst-italic">
          <strong>Funciones:</strong> Asesoría al cliente para la implementación de las soluciones de software de acuerdo a sus necesidades. Capacitaciones a los usuarios para el uso del sistema. (Presenciales y remotas).Desarrollo de formatos, reportes e indicadores según el cliente.
        </div>
      </div>
    </div>
  </div>